<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potwierdzenie subskrypcji newslettera</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif">
<img src="https://www.wne.uw.edu.pl/application/files/3616/6911/1769/wne-logo-new.png" alt="Logo"
     style="max-width: 200px;">
<h1>Potwierdź subskrypcję naszego newslettera</h1>
<p>Witaj!</p>
<p>Kliknij w
    poniższy przycisk, aby potwierdzić chęć otrzymywania wiadomości od naszego newslettera:</p>
<a href="http://127.0.0.1:5000/thankyou/{user_email}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none;
   border-radius: 5px; font-family: 'Roboto', sans-serif;">Potwierdź subskrypcję</a>
<p>Pozdrawiamy,</p>
<p>Zespół WNE</p></body>
</html>